
body {
    background-color: #1e3a5f !important;
}

#main-container {
    background-color: aliceblue;
    padding: 2em;
    border-radius: 1em;
    margin-top: 2em;
}

.navbar-custom {
    background-color: aliceblue !important;
}
